@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the lines below */
@layer utilities {
  @variants responsive {
    .masonry-3 {
      column-count: 3;
      column-gap: 2em;
    }
    .masonry-2 {
      column-count: 2;
      column-gap: 2em;
    }
    .break-inside {
      break-inside: avoid;
    }
    .wrapper__delete {
      display: none;
    }

    .wrapper__label {
      display: none;
    }

    .wrapper:hover .wrapper__delete {
      display: block;
    }
    .wrapper:hover .wrapper__label {
      display: block;
    }
    .wrapper:hover .wrapper__img {
      opacity: 50%;
    }
  }
}
